<div class="text-center relative overflow-hidden bg-no-repeat bg-cover h-96 lg:h-screen"
    style="background-image: url('../../assets/cool-background-home.svg')">
    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
        style="background-color: rgba(2, 56, 53, 0.7)">
        <div class="flex justify-center items-center h-full">
            <div class="text-white">
                <h2 class="font-semibold text-4xl mb-4">
                    <img [src]="state?.current?.condition?.icon" class="object-center" />
                    <p class="pt-5 font-light">Temp: {{state?.current?.temp_c}} °C</p>
                    <p class="pt-5 font-light">UV: {{state?.current?.uv}}</p>
                </h2>
                <h4 class="font-semibold text-xl mb-6">
                    {{state?.location?.name}}, {{state?.location?.country}}
                </h4>
            </div>
        </div>
    </div>
</div>